---
import BaseLayout from '../layouts/BaseLayout.astro';
import Skills from '../components/Skills.astro';
import { skillCategories } from '../content/skillCategories';
import SectionHeader from '../components/SectionHeader.astro';
import '../styles/global.css';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout title="About Me">
  <section class="mb-12">
    <div class="flex flex-col md:flex-row items-center md:items-start mb-8">
      <div class="flex-grow w-full md:w-auto mb-6 md:mb-0">
        <PageTitle title="about me" />
        <div class="mt-4">
          <p class="text-normal text-secondary-text mb-4 text-center md:text-left">
            Hi, I'm Jamie!
          </p>
          <p class="text-normal text-secondary-text mb-4 text-center md:text-left">
            I'm an Informatics student at Edinburgh University, currently in my second year. My journey in the world of computing has been driven by a passion for technology and a desire to solve complex problems through innovative solutions. In my free time, I love to explore new programming languages and tools, and I am always eager to learn and grow in my field.
          </p>
        </div> 
      </div>
      <div class="flex-shrink-0 md:ml-6 mb-6 md:mb-0">
        <img 
          src="/portfolio-website/introduction-pic.svg" 
          alt="Jamie Holroyde" 
          class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="flex flex-col md:flex-row items-center mb-8">
      <SectionHeader title="skills" />
    </div>
    <Skills categories={skillCategories} />
  </section>
</BaseLayout>
