---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl font-bold">Welcome to My Portfolio</h1>
  <p>This is a sample page to test the background colors.</p>
</Layout>