---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'; // Ensure you have global styles imported if needed
---

<BaseLayout title="Home" contentClass="flex items-center">
  <img 
    src="/portfolio-website/introduction-pic.svg" 
    alt="Jamie Holroyde" 
    class="w-48 h-48 rounded-full object-cover mr-6"
  />
  <div class="flex flex-col">
    <h1 class="text-title font-bold text-white mb-2">Jamie Holroyde</h1>
    <p class="text-normal text-secondary-text">
      Informatics Student @ The University of Edinburgh
    </p>
  </div>
</BaseLayout>