---

// Function to extract the end date from the duration string
function extractEndDate(duration) {
  const endDateStr = duration.split(' - ')[1]; // Get the end date string
  return new Date(endDateStr.split('/').reverse().join('-')); // Convert to Date object
}

const experiences = await Astro.glob('../content/experience/*.mdx');
const experiencesOrdered = experiences.sort((a, b) => extractEndDate(b.frontmatter.duration) - extractEndDate(a.frontmatter.duration));
---

<div class="timeline w-full px-5 py-8 m-0">
  <ul class="border-l-2 border-solid border-navigation py-2 px-3">
    {experiencesOrdered.map((experience) => (
      <li class="my-4 relative transition-colors cursor-pointer rounded-3xl border-2 border-primary-text">
        <div class="content text-gray-300 rounded-lg p-4 pt-1">
          <p class="text-primary-text">{experience.frontmatter.duration}</p>
          <h3 class="mb-2 text-primary-text text-lg font-semibold">{experience.frontmatter.title}</h3>
          <p class="pt-1 pb-4">{experience.frontmatter.description}</p>
        </div>
      </li>
    ))}
  </ul>
</div>

<style>
.timeline ul li:before{
position:absolute;
content:'';
width:10px;
height:10px;
background-color:#34ace0;
border-radius:50%;
left:-20px;
top:20px;
transition:.5s;
}
.timeline ul li:hover:before{
background-color:rgb(255, 255, 255);
box-shadow:0px 0px 10px 2px rgb(255, 255, 255);
}
</style>