---
import ContactIcons from "./ContactIcons.astro"
---

<footer class="bg-column-bg  py-4 mt-auto border-t border-white">
  <div class="container mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
    <a href="https://github.com/JamieHol-ai/portfolio-website" class="text-secondary-text hover:text-primary-text">View source code</a>
    <ContactIcons />
  </div>
</footer>
