---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Astro.props.title || 'My Website'}</title>
  </head>
  <body class="bg-main-bg min-h-screen flex flex-col items-center justify-center">
    <main class="container mx-auto px-4 py-4 w-4/5">
      <div class="bg-column-bg p-8 rounded-lg shadow-lg w-full">
        <Navbar />
        <div class="mt-8"> <!-- Add margin to create space between navbar and content -->
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>